<header>
  <h1>
    זיהוי חללים
  </h1>
  <div class="img-container">
    <img src="../assets/לוגו-קטן-הרבנות-הצבאית.webp" />
  </div>
</header>
<main>
  <div [ngSwitch]="step" style="height: 100%;">
    <app-start-form-button (onNextStep)="incrementStep()" *ngSwitchCase="0"/>
    <app-form-step-1 (onNextStep)="incrementStep()" *ngSwitchCase="1"/>
    <app-form-step-2 (onNextStep)="incrementStep()" *ngSwitchCase="2"/>
    <app-form-step-3 (onNextStep)="incrementStep()" *ngSwitchCase="3"/>
    <app-form-step-4 (onNextStep)="incrementStep()" *ngSwitchCase="4"/>
    <app-form-step-5 (onNextStep)="incrementStep()" *ngSwitchCase="5"/>
    <app-form-step-6 (onNextStep)="incrementStep()" *ngSwitchCase="6"/>
    <app-form-step-7 (onNextStep)="incrementStep()" *ngSwitchCase="7"/>
  </div>
</main>