:host {
    direction: rtl;
    height: 100%;
    display: block;
    .form-part {
        height: 80%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        padding-inline: 2rem;
        gap: 2rem;
        padding-block-start: 2rem;
    }
    .continue-btn {
        display: flex;
    justify-content: center;
    align-items: center;
        height: 20%;
    }
}